* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: $font-family;
    src: url("fonts/PlusJakartaSans-Medium.ttf") format("truetype");
    font-weight: $font-weight-500;
}

@font-face {
    font-family: $font-family;
    src: url("fonts/PlusJakartaSans-ExtraBold.ttf") format("truetype");
    font-weight: $font-weight-800;
}

body {
    font-family: $font-family;
    background-color: $very-light-grayish-blue;
}

p {
    font-size: 14px;

    @include media(tablet) {
        font-size: $paragraph-font-size;
    }
}